.outter_div {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  display: grid;
  position: relative;
}

.header {
  height: fit-content;
  width: 100%;
  /* border: 2px solid forestgreen; */
  position: absolute;
  display: block;
  justify-self: left;
  margin-top: 3%;
}

.header label {
  font-size: 3rem;
  color: #f0b077;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2rem;

}

.header a {
  font-size: 4rem;
  color: #dcdcdc;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.2rem;
}

.header a::after{
  content: '';
  height: 1px;
  width: 40%;
  display: inline-block;
  background-color: #868685;
  margin-left: 2rem;
  margin-bottom: 1.3rem;

}

.inner_div {
  width: 80%;
  height: 80%;
  /* border: 1px solid #868685; */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
  justify-self: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  /* overflow: hidden; */
  /* background-color: #868685; */
  /* border-radius: 1rem; */
}
.inner_div2 {
  width: 80%;
  height: 80%;
  /* border: 1px solid #868685; */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  justify-self: center;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  /* background-color: #868685; */
  /* border-radius: 1rem; */
}

.p {
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: #dcdcdc;
  font-family: "Quicksand", sans-serif;
}
.p2 {
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #dcdcdc;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.ul {
  font-size: 1.5rem;
  margin: 0;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: #dcdcdc;
  font-family: "Quicksand", sans-serif;
}

.button_div{
  width: 100%;
  height: fit-content;
  position: absolute;
  margin-bottom: 1rem;
  right: 0;
  bottom: 0;
  /* border: 2px solid red; */
  display: grid;
  justify-content: right;
  transform: translateX(-15rem);
  align-items: center;
  align-content: center;
  z-index: 20;
}

.button{
  background: none;
  height: 4rem;
  width: fit-content;
  padding: 1rem;
  color: #f0b077;
  border: 2px solid #f0b077;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  transition: all 0.2s ease;
}

