.ul{
    list-style-type: none;
    position: fixed;
    padding-left: 4rem;
    margin: 0;
    margin-left: 1rem;
    bottom: 0;
    float: left;
}

.ul li{
    margin-bottom: 3rem;
    color: #dcdcdc;
    transition: all 0.1s ease-in;

}

.ul li:hover{
    color: #f0b077;
    transform: translateY(-10%);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.1s ease-in;
}

.svgInsta{
    width: 2rem;
    height: 2rem;
}
.svg{
    width: 2.5rem;
    height: 2.5rem;
}


.ul::after{
    content: '';
    width: 0.2rem;
    height: 12rem;
    display: block;
    background-color: #dcdcdc;
    margin: 0 auto;
}



.ul2{
    list-style-type: none;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    float: right;
}


.ul2 li{
    color: #dcdcdc;
    transition: all 0.1s ease-in;
    transform: rotate(-90deg);
    margin: 0;
    margin-bottom: 100px;
}
.ul2 li a{
    color: #dcdcdc;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    margin: 0;
}
.ul2 li:hover a{
    color: #f0b077;
    transform: translateY(-10%);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.1s ease-in;

}

.ul2::after{
    content: '';
    width: 0.2rem;
    height: 12rem;
    display: block;
    background-color: #dcdcdc;
    margin: 0 auto;
}

@media screen and (max-width:870px) {
    
.ul,.ul2{
    display: none;
}

}