.outter_div{
    width: 100%;
    height: 100%;
    position: relative;
    /* border: 2px solid red; */
    display: grid;
}

.header {
    height: fit-content;
    width: 70%;
    /* border: 2px solid forestgreen; */
    position: absolute;
    display: block;
    justify-self: center;
    margin-top: 3%;
  }
  
  .header label {
    font-size: 2.5rem;
    color: #f0b077;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.2rem;
  
  }
  
  .header a {
    font-size: 3.5rem;
    color: #dcdcdc;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.2rem;
  }
  
  .header a::after{
    content: '';
    height: 1px;
    width: 40%;
    display: inline-block;
    background-color: #868685;
    margin-left: 2rem;
    margin-bottom: 1.3rem;
  }

.inner_div{
    width: 75%;
    height: 80%;
    /* border: 2px solid green; */
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 2%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.message_cover{
    display: flex;
    border: 1px solid #f0b077;
    width: 60%;
    flex-direction: column;
    transform: translate(-4rem,-6rem);
    background: rgba(32, 31, 29,0.7);
    backdrop-filter: blur(8px);
    border-radius: 2rem;
    box-shadow: -0.5rem 0.5rem 10px rgba(32, 31, 29,0.5);
    overflow: hidden;
}

.contact_div{
    height: 80%;
    width: 70%;
    /* border: 1px solid yellow; */
    justify-self: center;
    align-self: center;
    display: flex;
    position: relative;
}

.title_div{
    height: 15%;
    width: 100%;
    /* border: 1px solid gold; */
    display: grid;
    justify-content: center;
    align-items: center;
}

.title_div span{
    color: #f0b077;
    font-size: 2rem;
    font-family: "Roboto Mono", monospace;

}


.message_div{
    /* border: 1px solid gold; */
    height: 85%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.message_div form{
    margin: 0;
    display: grid;
    justify-content: left;
}
.text{
    color: #dcdcdc;
    font-size: 2rem;
    width: 90%;
    height: 3rem;
    max-height: 3rem;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 1px solid #868685;
    background: transparent;
    padding-left: 2rem;
    font-family: "Quicksand", sans-serif;
    outline: none;
    margin-bottom: 2rem;
    font-weight: bold;

}

.textarea{
    height: 15rem;
    color: #dcdcdc;
    font-size: 1.7rem;
    width: 90%;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 1px solid #868685;
    background: transparent;
    padding-left: 2rem;
    font-family: "Quicksand", sans-serif;
    outline: none;
    margin-bottom: 2rem;
    font-weight: bold;
}

.text:focus{
     border: 1px solid #f0b077;
     color: #f0b077;
}
.textarea:focus{
     border: 1px solid #f0b077;
     color: #f0b077;
}



.button{
    width: 50%;
    height: 4rem;
    border-radius: 1rem;
    justify-self: center;
    background: transparent;
    font-size: 1.8rem;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    border:1px solid #868685;
    color: #dcdcdc;
    cursor: pointer;
}

.right_card{
    width: 50%;
    background: rgba(240, 176, 119,0.8);
    border-radius: 2rem;
    display: inline-block;
    box-sizing: content-box;
    padding: 3%;
    transition: all 0.3s ease;
}
.right_card:hover{
   transform: skewX(0.5deg) skewY(2deg) translateX(-2rem) translateY(-2rem);
   transition: all 0.3s ease;
    
}


.span1{
    font-size: 2rem;
    font-family: "Kanit", sans-serif;
    /* font-weight: bold; */
    color: #201f1d;
    margin: 0;
}

.ul{
    list-style-type: none;
    margin: 0;
    justify-content: left;
    padding: 0;
}
.ul li{
    font-family: "Kanit", sans-serif;
    width: fit-content;
    margin: 2rem;
    font-size: 1.5rem;
}

.ul span{
    display: inline-block;
    transform: translateY(0.7rem);
    margin-right: 1rem;
}

.ul a{
    text-decoration: none;
    color: black;
}

.ul svg{
    height: 2rem;
    width: 2rem;
}

@media screen and (max-width: 900px) {
    
    .right_card{
        display: none;
    }

    .message_cover{
        width: 100%;
    }

    .inner_div{
        width: 90%;
        /* border: 2px solid green; */
        align-self: center;
    }

    .message_cover{
        padding: 1rem;
        display: flex;
        border: 1px solid #f0b077;
        width: 60%;
        min-width: 275px;
        flex-direction: column;
        transform: translate(0,0);
        background: rgba(32, 31, 29,0.7);
        backdrop-filter: blur(8px);
        border-radius: 2rem;
        box-shadow: -0.5rem 0.5rem 10px rgba(32, 31, 29,0.5);
        overflow: hidden;
    }

    .contact_div{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .textarea{
        height: 25rem;
        font-size: 3rem;
    }

    .text{
        font-size: 3rem;
        height: 10rem;
    }

    .title_div span{
        font-size: 3rem;
    }

    .button{
        font-size: 3rem;
        height: 6rem;
        margin-top: 2rem;
    }
}