@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

header {
  padding: 1rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.5s ease;
  background-color: rgba(32, 31, 29,0.7);

  backdrop-filter: blur(8px);
  z-index: 80;
  /* border: 2px solid red; */
}

.label {
  font-size: 1.5rem;
  color: #f0b077;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

.navigation {
  color: #ffffff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 4rem 0 0.1rem;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Quicksand", sans-serif;
  padding: 0.5rem;
  text-align: center;
  align-content: center;
  justify-content: center;
  transition: all 0.2s ease-in;

}
.navigation:hover,
.logo:hover {
  font-weight: bold;
  color: #f0b077;
  text-shadow: 0px 0px 2px #f0b077;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .right_div {
  float: right;
  padding-right: 3%;
  display: flex;
  /* border: 2px solid greenyellow; */
}

.logo {
  color: #f0b077;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

header .logo {
  float: left;
  padding-left: 3%;
}

@media screen and (max-width: 768px) {
  header .logo {
    float: none;
  }
  .navigation {
    display: none;
  }
   .label{
    display: none;
  }
  header .right_div {
    float: none;
  }
}
